In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
train = pd.read_csv(r'C:\Users\abida\Documents\GitHub\Credit_Risk--Probability_of_default\cs-training.csv').drop(['Unnamed: 0'],axis=1)
test = pd.read_csv(r'C:\Users\abida\Documents\GitHub\Credit_Risk--Probability_of_default\cs-test.csv').drop(['Unnamed: 0'],axis=1)

# 1- Data Exploration:

In [4]:
train.head()

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
1,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
2,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
3,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
4,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0

In [6]:
# .duplicated returns True/False if the entire row is duplicated
train.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
149995    False
149996    False
149997    False
149998    False
149999    False
Length: 150000, dtype: bool

In [9]:
#to see how many duplicates we will simply use value_counts().
train.duplicated().value_counts()

False    149391
True        609
Name: count, dtype: int64

we have 609 records that are duplicates. i will just delete them as initially i'm looking for my model to train on unique cases.

In [10]:
train_redup = train.drop_duplicates()

In [12]:
#as you can see we no longer have duplicates
train_redup.duplicated().value_counts()

False    149391
Name: count, dtype: int64

I will first take a look on what does the training data look like

In [13]:
train_redup.head()

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
1,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
2,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
3,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
4,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0

let's take a look on the shape of the training data as well as the test data

In [17]:
train_redup.shape

(149391, 11)

In [16]:
test.shape

(101503, 11)